/* Centering login page */
.center-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f6f9;
}

.login-card {
    background: white;
    padding: 30px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.login-card input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.login-card button {
    width: 95%;
}
