body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d6e6f2;
}

.login-container {
    width: 80%;
    height: 85vh;
    margin: 50px auto;
    display: flex;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    overflow: hidden;
}

/* LEFT SIDE */
.login-left {
    width: 50%;
}

.login-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RIGHT SIDE */
.login-right {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-right h2 {
    margin-bottom: 5px;
}

.login-right h3 {
    margin-bottom: 30px;
    color: #3498db;
}

.login-right input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-right button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-right button:hover {
    background-color: #2980b9;
}