body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d6e6f2;
}

.login-container {
    width: 80%;
    height: 85vh;
    margin: 50px auto;
    display: flex;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    overflow: hidden;
}

/* LEFT SIDE */
.login-left {
    width: 50%;
}

.login-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RIGHT SIDE - BLUE CONTAINER */
.login-right {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d47a1; /* Blue */
    color: white;
}

/* LOGO */
.logo {
    width: 90px;
    margin-bottom: 20px;
}

/* MAIN HEADING */
.main-heading {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

/* SUB HEADING */
.sub-heading {
    font-size: 18px;
    margin-bottom: 30px;
    color: #bbdefb;
}

/* INPUTS */
.login-right input {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

/* BUTTON */
.login-right button {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #0d47a1;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login-right button:hover {
    background-color: #e3f2fd;
}
