<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="dashboard">

    <div class="sidebar">
        <h2>Student Panel</h2>
        <a href="/user">Circulars</a>
        <a href="/stats">Stats</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="main-content">

        <h2>My Profile</h2>

        <div class="card">
            <p><strong>Name:</strong> {{ user[0] }}</p>
            <p><strong>Email:</strong> {{ user[1] }}</p>
            <p><strong>Role:</strong> {{ user[2] }}</p>
            <p><strong>Total Circulars Read:</strong> {{ read_count }}</p>
        </div>

    </div>

</div>

</body>
</html>
