<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Student Dashboard</h2>

{% for circular in circulars %}
<div class="card">

    <h3>{{ circular[1] }}</h3>
    <p>{{ circular[2] }}</p>

    {% if circular[3] == 'urgent' %}
        <span class="badge urgent">Urgent</span>
    {% elif circular[3] == 'medium' %}
        <span class="badge medium">Medium</span>
    {% else %}
        <span class="badge normal">Normal</span>
    {% endif %}

</div>
{% endfor %}


<a href="/logout">Logout</a>

</body>
</html>
