<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h2 style="text-align:center;">Student Dashboard</h2>

<div class="container">

{% for circular in circulars %}
<div class="card">

    <h3>{{ circular[1] }}</h3>
    <p>{{ circular[2] }}</p>

    {% if circular[3] == 'urgent' %}
        <span class="badge urgent">Urgent</span>
    {% elif circular[3] == 'medium' %}
        <span class="badge medium">Medium</span>
    {% else %}
        <span class="badge normal">Normal</span>
    {% endif %}

</div>
{% endfor %}

</div>

<div style="text-align:center;">
    <a href="/logout">Logout</a>
</div>

</body>
</html>
